<link rel="stylesheet" href="/css/header-footer.css"> <!-- Link the Header/Footer CSS -->


<footer class="bg-light py-4">
    <div class="container text-center">
      <p class="mb-0">&copy; 2024 Stock Bull. All rights reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="/terms">Terms of Service</a></li>
        <li class="list-inline-item"><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </footer>
  